@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
  --background-color: #E7E393 !important;
  --gradient-color: #8B815D;
  --text-color: #2E1F27 !important;
  --navbar-color: #775065;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

.custom {
  background-color: var(--background-color);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.custom a {
  font-family: "Poppins", sans-serif;
  color: var(--text-color); 
  transition: 0.3s ease-in-out;
}

.custom a:hover {
  transform: scale(115%);
  color: var(--navbar-color);
}

.tastio-navbar {
  font-weight: 1000;
  transition: 0.3s ease-in-out;
}

.tastio-navbar:hover {
  transform: scale(105%);
}

.container-fluid {
  background: var(--background-color);
  color: var(--text-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px; 
  padding-left: 20px;
  padding-right: 20px;
}

.intro {
  text-align: center;
  width: 70vw;
  margin-bottom: 10px;
}

.textLabel {
  text-align: center;
  font-weight: 500;
}

.recipeName, .ingredients, .name, .time {
  margin-bottom: 10px;
  width: 70vw;
  text-align: center;
  background: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ingredients {
  min-height: 20vh;
}

.name {
  min-height: 40vh;
}

.imageFile{
  margin-bottom: 10px;
}

#editor-wrapper{
  border: 1px solid black;
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
#editor{
  border-top: 1px solid black;
  height : 30vh;
  font-size: 15px;
  width: 70vw;
}

.imageFile{
  border : 1px solid black;
  width : 70vw;
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  padding : 5px;
  text-align: center;
}

.btn{
  width: 70vw;
  margin-bottom: 50px;
  margin-top: 20px;
  background: rgb(0, 159, 0);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  border : none;
}

.btn:hover{
  background: rgb(70, 212, 70);
  color : black;  
}

.else-btn{
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: black;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;

}
 
.else-btn:hover{
  text-decoration: underline !important;
  background: transparent !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  color : black;
}

.dropdown-item{
  width : 70vw;
}

.btn-secondary{
  background-color : transparent;
  border : 1px solid black;
  color : black;
}

.time{
  width : 70vw;
  padding : 7px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
} 