@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --background-color : #E7E393 !important;
  --gradient-color : #8B815D;
  --text-color : #2E1F27 !important;
  --navbar-color : #775065;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-scroll-behaviour : smooth;
}
.custom{
  background-color: var(--background-color);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.custom a{
  font-family: "Poppins", sans-serif;
  color: var(--text-color); 

  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.custom a:hover{
  transform: scale(115%);
  -webkit-transform: scale(115%);
  -moz-transform: scale(115%);
  -ms-transform: scale(115%);
  -o-transform: scale(115%);
  color : var(--navbar-color);
}


.tastio-navbar{
  font-weight: 1000;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.tastio-navbar:hover{
  transform: scale((105%));
  -webkit-transform: scale((105%));
  -moz-transform: scale((105%));
  -ms-transform: scale((105%));
  -o-transform: scale((105%));
}

.container-fluid{
  background : var(--background-color);
  color : var(--text-color) ; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.tastio-intro{
  font-size: 500%;
  font-weight: 1000;
  color : var(--text-color);
  margin-right: 20px;
}


.dialogBox{
  border: black 2px solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
  text-align: center;
}

.dialogBox h3{
  font-weight: 700;
}


.email::placeholder{
  text-align: center;
}

.submitBtn, .clearBtn{
  transition: 0.3s ease-in-out ;
  -webkit-transition: 0.3s ease-in-out ;
  -moz-transition: 0.3s ease-in-out ;
  -ms-transition: 0.3s ease-in-out ;
  -o-transition: 0.3s ease-in-out ;
  cursor: pointer;
}

.submitBtn:hover{
  background: rgb(70, 212, 70);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-decoration: none;
  color : white;
}

.OTP, .submitBtn, .clearBtn {
  background: transparent;
  border-radius: 5px;
  outline: none;
  border: black 1px solid;
  padding: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 7px;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.OTPBox{
  display: flex;
  justify-content: space-between;
}

.OTPBox input{
  width : 15%;
}

.clearBtn:hover{
  background : rgb(240, 137, 137);
}