@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --background-color : #E7E393 !important;
  --gradient-color : #8B815D
  --text-color : #2E1F27 !important;
  --navbar-color : #775065;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-scroll-behaviour : smooth;
}
.custom{
  background-color: var(--background-color);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.custom a{
  font-family: "Poppins", sans-serif;
  color: var(--text-color); 

  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.custom a:hover{
  transform: scale(115%);
  -webkit-transform: scale(115%);
  -moz-transform: scale(115%);
  -ms-transform: scale(115%);
  -o-transform: scale(115%);
  color : var(--navbar-color);
}


.tastio-navbar{
  font-weight: 1000;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.tastio-navbar:hover{
  transform: scale((105%));
  -webkit-transform: scale((105%));
  -moz-transform: scale((105%));
  -ms-transform: scale((105%));
  -o-transform: scale((105%));
}

.container-fluid{
  background : var(--background-color);
  color : var(--text-color) ; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.tastio-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.tastio-content a{
  text-decoration: none;
  color : white;
}

.tastio-intro{
  font-size: 500%;
  font-weight: 1000;
  color : var(--text-color);
  margin-right: 20px;
}

.tastio-subParagraph {
  font-size: 130%;
  font-weight: 400;
  font-style: italic;
  margin-right: 20px; 
}


.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  background-color: transparent !important;
  border: none !important;
}

.intro-image{
  width:  50%;
  height: auto;
  margin: none;
  padding: none;
  border-radius: 1500px ;
  -webkit-border-radius: 1500px ;
  -moz-border-radius: 1500px ;
  -ms-border-radius: 1500px ;
  -o-border-radius: 1500px ;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.btn button{
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  min-width: 180px;
  color: var(--text-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.3s ease-in-out ;
  -webkit-transition: 0.3s ease-in-out ;
  -moz-transition: 0.3s ease-in-out ;
  -ms-transition: 0.3s ease-in-out ;
  -o-transition: 0.3s ease-in-out ;
}

.btn button:hover{
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
  color: white ;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 0px 30px 11px rgba(0,0,0,0.35);
}

/* SECOND PAGE */
.container2{
  background : linear-gradient(180deg, #E7E393,#ffb458 )
}

.aboutUs-para{
  /* border : lime 2px solid; */
  width: 85%;
  padding-top : 2%;
  padding-bottom: 3%;
}

.cards{
  display: flex;
}

#carouselExampleSlidesOnly{
  border-radius: 40px;
  width: 30%;
  box-shadow: 0px 0px 50px 9px rgba(0,0,0,0.3);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

#carouselExampleSlidesOnly:hover{
  box-shadow: 0px 0px 100px 6px rgba(0,0,0,0.68);
}

.carousel-item img{
  transform: scale(110%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.carousel-item img:hover{
  transform: scale(100%);
  -webkit-transform: scale(100%);
  -moz-transform: scale(100%);
  -ms-transform: scale(100%);
  -o-transform: scale(100%);
  
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
  .tastio-content {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .intro-image {
    width: 100%; /* Adjust image width for smaller screens */
    margin-top: 20px; /* Add some spacing above the image */
  }
}
